/* HEADER */

header {
    color: white;
}

.navbar {
    margin: 0;
    border-radius: 0;
    border: 0;
    min-height: 0;
}

.navbar-position {
    position: relative;
    z-index: 1030;
}

.navbar-header {
    width: 100%;
    background-color: transparent;
}

.container>.navbar-header {
    margin: 0;
}

.navbar-nav {
    margin: 0;
}

#header-nav {
    background-color: #A00309;
}

#header-nav .container {
    width: 90%;
}

#header-nav h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu-items h2 {
    text-align: center;
}

.nav>li>a {
    padding: 0;
}

.container>.navbar-collapse {
    padding: 0;
    margin: 0;
}

li h2 {
    text-align: center;
    color: white;
}

#collapsable-nav ul {
    padding-top: 35px;
    padding-bottom: 10px;
    background: url('../img/dropdown bckgrnd.png') no-repeat;
    background-size: 100% auto;
}

.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 19px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    background: url('../img/logo.svg') no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100% auto;
    margin: auto;
    z-index: 100;
}

.tab-indicator {
    background: url('../img/tab indicator.svg') no-repeat;
    background-position: 50% 105%;
    background-size: 14% auto;
    position: relative;
}


/* END HEADER */


/* FOOTER */

footer {
    padding: 3px;
    text-align: center;
    background-color: #E4E4E4;
    font-size: 2vh;
    line-height: 2.5vh;
    position: relative;
}


/* END FOOTER */


/* OTHER */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: inherit;
    display: block;
}

a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

#main-content {
    background-color: #333333;
    color: white;
    min-height: 100vh;
    position: relative;
}

#main-content>div {
    padding: 50px;
    padding-top: 70px;
}

#main-content>.loader,
.loader-small {
    background: url('../img/loader.svg') no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    background-position: 50% 30%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 600px;
    position: relative;
}

.loader-small {
    background-position: 50% 50%;
    width: 60px;
    height: 60px;
    padding-top: 150px;
    padding-bottom: 150px;
}

#main-content #bckgrnd {
    position: fixed;
    width: 100vw;
    height: 160vh;
    padding: 0;
    top: -70px;
    background: url('../img/bckgrnd.png') no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.left {
    padding: 0;
    padding-right: 50px;
}

.right {
    padding: 0;
    padding-left: 50px;
}

.small-left {
    padding-left: 0;
    padding-right: 15px;
}

.small-right {
    padding-left: 15px;
    padding-right: 0;
}

.row {
    margin: 0;
}

.selected {
    background-color: rgba(255, 255, 255, 0.18);
}

.selected:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

.s-item {
    text-align: center;
    line-height: 52px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.s-item:hover {
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
}

#underline {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.18);
    margin-bottom: 10px;
}

.d-item {
    border-radius: 5px;
}

.d-item:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.07);
}

.d-item-name {
    padding: 10px;
    padding-bottom: 0;
    padding-left: 30px;
}

.d-item-amount {
    padding: 10px;
    padding-right: 30px;
    text-align: right;
}

#d-back,
#p-back {
    position: fixed;
    width: 52px;
    height: 52px;
    top: 0;
    left: 0;
    background: url('../img/back.svg') no-repeat;
    background-size: auto 22px;
    background-position: center;
    z-index: 1031;
}

#main-content #n {
    padding-top: 50px;
}

#nn {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 80px;
    font-family: Montserrat;
    font-weight: 700;
    position: relative;
}

#nn span {
    padding-left: 0px;
    padding-right: 40px;
    display: inline-block;
    min-width: 100px;
}

.status-2 {
    background: url('../img/success.svg') no-repeat;
    background-size: auto 20px;
    background-position: center -1px;
    border-top: 1.5px solid #00A02A;
}

.status-3 {
    background: url('../img/partial.svg') no-repeat;
    background-size: auto 20px;
    background-position: center -1px;
    border-top: 1.5px solid #0B6AA0;
}

.status-4 {
    background: url('../img/cancelled.svg') no-repeat;
    background-size: auto 20px;
    background-position: center -1px;
    border-top: 0px solid #333333;
}

.status-5 {
    background: url('../img/failed.svg') no-repeat;
    background-size: auto 20px;
    background-position: center -1px;
    border-top: 1.5px solid #A00309;
}

#n-img {
    width: 25px;
    height: 25px;
    background-position: center;
}

#n-img:hover {
    cursor: pointer;
}

#toggle-details .toggle-off {
    background: url('../img/show details.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 100px;
    top: 13px;
}

#toggle-details .toggle-on {
    background: url('../img/hide details.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 100px;
    top: 13px;
}

#toggle-materials .toggle-off {
    background: url('../img/show materials.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 40px;
    top: 13px;
}

#toggle-materials .toggle-on {
    background: url('../img/hide materials.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 40px;
    top: 13px;
}

#toggle-done {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
}

.status-2 #toggle-done #n-img {
    background: url('../img/done green.svg') no-repeat;
    background-size: auto 100%;
}

.status-3 #toggle-done #n-img {
    background: url('../img/done blue.svg') no-repeat;
    background-size: auto 100%;
}

.status-4 #toggle-done #n-img {
    background: url('../img/done gray.svg') no-repeat;
    background-size: auto 100%;
}

.status-5 #toggle-done #n-img {
    background: url('../img/done red.svg') no-repeat;
    background-size: auto 100%;
}

#details,
#materials {
    width: 95%;
    margin: auto;
    border-radius: 0 0 5px 5px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 20px;
}

#materials {
    width: 90%;
    padding: 0;
}

#material {
    padding: 15px 0 15px 0;
    border-top: 1px solid #555555;
}

#material-name {
    text-align: right;
}

.indented {
    margin-left: 1em;
    padding-top: 4px;
    text-align: justify;
}

#p input {
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    outline: none;
}

#search-bar>div {
    margin-bottom: 20px;
}

#button-search {
    background-color: #A00309;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

#search-icon {
    background: url('../img/search.svg') no-repeat;
    background-size: auto 100%;
    background-position: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#results {
    padding-left: 15px;
    padding-right: 15px;
}

#r1title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    position: relative;
}

#r1title strong {
    font-weight: 700;
    font-size: 120%;
}

#r1bar div {
    float: left;
    height: 100%;
}

#r1pending {
    background-color: #7F7F7F;
    /*border-right: 0.1px solid #333333;*/
}

#r1success {
    background-color: #00A02A;
    /*border-right: 0.1px solid #333333;
    border-left: 0.1px solid #333333;*/
}

#r1partial {
    background-color: #0B6AA0;
    /*border-right: 0.1px solid #333333;
    border-left: 0.1px solid #333333;*/
}

#r1failed {
    background-color: #D2040C;
    /*border-right: 0.1px solid #333333;
    border-left: 0.1px solid #333333;*/
}

#r1cancelled {
    background-color: #7F7F7F;
    /*border-left: 0.1px solid #333333;*/
}

#r1bar {
    height: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    background-color: #7F7F7F;
}

#r1stats {
    margin-bottom: 50px;
}

#r1stats div {
    height: 50px;
    line-height: 50px;
    font-size: 80%;
}

#r1stats div span {
    font-size: 150%;
    font-weight: 700;
}

#r1stats #r1stats-title {
    text-align: right;
    font-size: 100%;
}

#r1stats-pending span {
    color: #7F7F7F;
}

#r1stats-success span {
    color: #00A02A;
}

#r1stats-partial span {
    color: #0B6AA0;
}

#r1stats-failed span {
    color: #D2040C;
}

#r1stats-cancelled span {
    color: #7F7F7F;
}

#team-container-outer {
    margin-bottom: 30px;
}

#team-container {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 30px 0 0 30px;
    margin-bottom: 10px;
    position: relative;
}

#teams .selected {
    background-color: rgba(255, 255, 255, 0.18);
}

#button-teams {
    background-color: #A00309;
    padding: 10px 30px 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    float: right;
    margin-left: 18px;
}

#button-addtask,
#button-canceltask,
#button-cancelra {
    background-color: #A00309;
    padding: 10px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

#button-cancelra {
    margin-top: 0;
}

#nt #long-desc {
    margin-bottom: 0;
}

#button-canceltask,
#button-cancelra {
    background-color: rgba(255, 255, 255, 0.18);
    margin-left: 0;
}

#team-name {
    height: 100%;
    line-height: 60px;
    font-size: 120%;
    font-weight: 700;
    width: 25%;
    margin-left: 60px;
    float: left;
}

#team-vehicle {
    height: 100%;
    line-height: 60px;
    font-size: 70%;
    width: 35%;
    float: left;
}

#team-vehicle>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: 700;
}

#team-vehicle>span>span {
    font-weight: 400;
}

#team-members {
    width: 90%;
    margin-left: 10%;
}

#team-member {
    height: 40px;
    line-height: 40px;
    border-radius: 20px 0 0 20px;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    font-size: 90%;
    position: relative;
    margin-bottom: 10px;
}

#toggle-details-team .toggle-off {
    background: url('../img/show details.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 17.5px;
    top: 17.5px;
}

#toggle-details-team .toggle-on {
    background: url('../img/hide details.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 17.5px;
    top: 17.5px;
}

#team-member #toggle-details-team .toggle-off,
#team-member #toggle-details-team .toggle-on {
    top: 7.5px;
    opacity: 0.3;
}

#toggle-gps .toggle-off {
    background: url('../img/gps.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 57.5px;
    top: 7.5px;
}

#team-container #toggle-gps .toggle-off {
    top: 17.5px;
    opacity: 0.3;
}

#new-assignment .toggle-off {
    background: url('../img/add.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 97.5px;
    top: 7.5px;
}

#team-container #new-assignment .toggle-off {
    top: 17.5px;
}

#map-info {
    text-align: center;
}

#map-info span {
    font-weight: 700;
}

#nt div,
#nt input,
#nt button,
#nt textarea {
    position: relative;
}

#nt-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}

#nt input,
#nt textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-bottom: 25px;
}

#nt textarea {
    min-height: 200px;
    resize: none;
    overflow: hidden;
}

#due-time,
#picker-container {
    position: relative;
}

.form-control {
    height: inherit;
    color: inherit;
    font-size: 16px;
    line-height: inherit;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #747474;
}

.form-control:-moz-placeholder {
    color: #747474;
}

.form-control::-moz-placeholder {
    color: #747474;
}

.form-control:-ms-input-placeholder {
    color: #747474;
}

#ra {
    position: relative;
}

#ra>div {
    margin-bottom: 25px;
}

#ra div input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.18);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#add-team-button,
#delete-team-button,
#button-teams-change {
    width: 100%;
    background-color: #A00309;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

#add-team-button,
#delete-team-button {
    background: url('../img/add.svg') no-repeat;
    background-size: 25px 25px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.18);
}

#delete-team-button {
    background: url('../img/delete.svg') no-repeat;
    background-size: 25px 25px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.18);
}

#changes-container {
    border: 2px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    padding: 0;
}

#changes-title {
    background-color: rgba(255, 255, 255, 0.07);
    text-align: center;
    padding: 10px;
    font-weight: 700;
    margin-bottom: 20px;
}

#ra #ra-last {
    margin-bottom: 0;
}

#ra #ra-last-chg {
    margin-bottom: 0;
}

#changes-items>div {
    margin-bottom: 20px;
}

#changes-item-name {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}

#changes-item-name span {
    font-size: 70%;
}

#changes-item-dropdown {
    padding-right: 0;
}

#toggle-reset .toggle-off {
    background: url('../img/reset.svg') no-repeat;
    background-size: auto 100%;
    position: absolute;
    right: 15px;
    top: 8px;
}


/* END OTHER */


/* MEDIA */

@media (max-width: 991.5px) {
    /* breakpoint change */
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in {
        display: block !important;
    }
    /* end breakpoint change */
    #header-nav .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .left,
    .right {
        padding: 0;
    }
    .navbar-position {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
    body {
        padding-top: 52px;
        font-size: 3vh;
    }
    #main-content {
        padding-top: 15px;
    }
    #main-content>div {
        padding-left: 20px;
        padding-right: 20px;
    }
    .s-item {
        line-height: 7vh;
    }
    #material-name {
        text-align: left;
    }
    #material-amount {
        text-align: right;
    }
    #toggle-details .toggle-on,
    #toggle-details .toggle-off {
        right: 30px;
        top: 17.5px;
    }
    #toggle-materials .toggle-on,
    #toggle-materials .toggle-off {
        right: 30px;
        top: 60px;
    }
    #search-icon {
        width: 3.66vh;
        height: 3.66vh;
    }
    #r1stats div {
        height: 10vh;
        line-height: 10vh;
    }
    .form-control {
        font-size: 3vh;
    }
    .small-left {
        padding-right: 0;
    }
    .small-right {
        padding-left: 0;
    }
    #ra #ra-last-chg {
        margin-bottom: 25px;
    }
}


/* END MEDIA */
